body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

}

.logo {
  display: flex;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 9px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;

}

  nav {
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  text-decoration: underline;
  text-align: right;
  padding-right: 15px;
}

  nav span a {
    padding-right: 15px;
    color: seashell;
  }

  .main {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    /*padding-bottom: 50px;*/
    height: 2000px;
    width: auto;
    top: 70px;
    border: 1px white solid;
  }

  #mission {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   height: 700px;
   width: 1200px;
   border: 1px white solid;
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.text {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 1200px;
  border: 1px white solid;
  background-color: black;
}



.tea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  position: relative;
  height: 600px;
  width: 1000px;
  border: 1px white solid;

}

.box {
  display: flex;
  height: 200px;
  width: 300px;
  border: 1px white solid;
  padding-right: 10px;
}








































  /*.mission {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
    height: 700px;
    margin: 0 auto;
    width: 1200px;
  }

   /*.mission .image-large {
    display: flex;
    flex-direction: column;
    position: relative;
    /*top: 70px;*/
  /*  height: 700px;
    width: 1200px;
    margin: 0 auto;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
   }

  /*.mission .text-content {
     display: flex;
     flex-direction: column;
     position: relative;
     align-items; center;
     margin: auto auto;
     top: 70px;
     height: 110px;
     width: 1200px;
     background-color: black;
   }

   h2, h4 {
   display: flex;
   flex-direction: column;
   position: relative;
   justify-items: center;
  }*/

 /*.tea {
     display: flex;
     justify-items: space-between;
     flex-flow: wrap;
     position: relative;
     height: 700px;
     width: 1000px;
     top: 150px;
     margin: auto 0;
   }

   .product {
     display: flex;
     flex-wrap: wrap;
     justify-items: space-between;
     height: 200px;
     width: 300px;


   }
   .thumbnail {
     display: flex;
     justify-items: space-between;
     height: 200px;
     width: 300px;

   }

.intro {
  display: flex;
  flex-direction: column;
  justify-items: center;
  top: 200px;
